*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-color: #3d3d3d;   
}

.icon{
    width: 70px;
}

.card{
    width: 120px;
    height: 120px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;

   

}

.card_back, .card_front{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.61);
    backface-visibility: hidden;
    
}

.flip{
    transform: rotateY(180deg);
}

.card_front{
    transform: rotateY(180deg);
    background-color: #183a37;
    border: 1px #fff solid;
}

.card_back{
    color: #fff;
    background-color: #04151f;
    font-size: 25px;
    /* display: none; */
}

#gameOver{
    position: absolute;
    top:0 ;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.904);
    color: #00b4d8;
    font-size: 25px;


    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#restart{
    padding: 20px;
    height: 60px;
    font-size: 10px;
    background: linear-gradient(45deg, transparent 5%, #fffb24 0);;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    letter-spacing: 3px;
    animation: stylebottom 0.6s; 
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: background 0.5s, color 0.5s;
    
}

#gameBoard{
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr 1fr;
    gap: 20px
}

@keyframes stylebottom {
    0% {width: 240px; font-size: 10px;}
    100% {width: 260px; font-size: 11px}
   

}